.DS_Store

abi/
ignition/

artifacts
artifacts*/

cache
coverage
coverage.json

lib
node_modules

scripts
test

.deploys
.states
build
typechain
typechain-types

.dev
.idea
logs

.env
.env.local
.env.**.local

tsconfig.ts

.VSCodeCounter
.vscode
